<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="bootstrap.min.js"></script>
    <title>ATM Mangement</title>
    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
        let value = params.success; // "some_value"
        if (value == "1") {
            window.onload = (e) => {
                var sc = document.getElementById("success");
                sc.classList.add('show');
            }
        }
    </script>
    <style>
        .add-cont {
            margin: 1em 1em;
            width: 70%;
            border-radius: 10px;
            font-size: 12px;
        }
        .srch-cont {
            margin-top: 1em;
            width: 20%;
            border-radius: 10px;
            font-size: 12px;
        }
        .hdr {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .show {
            display: block !important;
        }
        #success {
            background-color: green;
            padding: 0.5em;
            color: white;
            border-radius: 3px;
            display: none;
        }
    </style>
</head>
<body>
    <header class="p-4">
        <H1>DASHEN ATM BOT MANAGMENT</H1>
    </header>
    <div class="px-4 hdr">
        <form action="http://{{control.host}}:5000/manage" method="get" encType="application/json">
            <input type="submit" value="Home" style="margin-top: 1em;">
        </form>
        <div id="success">
            Operation is Successful
        </div>
    </div>
    <div style="display:flex">
        <div class="srch-cont p-4">
            <h4>Search</h4>
            <form action="http://{{control.host}}:5000/search" method="post" encType="application/json">
                <div>
                    <label for="srch" style="display: block;">By Name</label>
                    <input type="text" name="query" id="srch">
                </div>
                <input type="submit" value="Search" style="margin-top: 1em;">
            </form>
        </div>
        <div class="add-cont p-4">
            <h4>Add ATM</h4>
            <form action="http://{{control.host}}:5000/add" method="post" encType="multipart/form-data">
                <div style="display: flex; justify-content:space-between">
                    <div>
                        <label for="tid" style="display: block !important;">Terminal ID</label>
                        <input type="text" name="terminal" id="tid" required="true">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">Location</label>
                        <input type="text" name="loc" id="loc" required="true">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">Latitude</label>
                        <input type="text" name="lat" id="lat" required="true">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">Longitude</label>
                        <input type="text" name="long" id="lon" required="true">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">Picture</label>
                        <input type="file" name="ATM_PIC" />
                    </div>
                </div>
                <input type="submit" value="Add" style="margin-top: 1em;">
            </form>
        </div>
    </div>
    <div class="p-4" style="font-size: 12px;">
        <h4>SQL</h4>
        <form action="http://{{control.host}}:5000/sql" method="post" encType="application/json">
            <div>
                <label for="srch" style="display: block;">Type SQL query to run on atmlocation table</label>
                <textarea name="sql" id="sql" cols="180" rows="3"></textarea>            
            </div>
            <p style="color:red;">{{err_mess}}</p>
            <input type="submit" value="Run" style="margin-top: 1em;">
        </form>
    </div>
    <div>
        <table class="table table-hover table-bordered" style="padding: 1em;font-size:12px">
            <thead class="table-dark">
                <tr>
                <td></td>
                <td>Terminal ID</td>
                <td>Location</td>
                <td>Latitude and Longitude</td>
                <td>HAS PIC</td>
                <td>HAS FID</td>
                <td></td>
                </tr>
            </thead>
                <tbody class="table-group-divider">
                {{#each data}}
                <tr>
                    <td>
                        <form action="http://{{../control.host}}:5000/remove?tid={{this.TERMINAL_ID}}" method='post' encType="application/json">
                            <input type='submit' value='Remove' />
                        </form>
                    </td>
                    <td>{{this.TERMINAL_ID}}</td>                    
                    <td>{{this.LOCATION}}</td>
                    <td>
                        <form action="http://{{../control.host}}:5000/update?tid={{this.TERMINAL_ID}}" method='post' encType="application/json">
                            <input type="number" name="lat" id="lat" value="{{this.LATITIUDE}}" step="any">
                            <input type="number" name="lon" id="lon" value="{{this.LONGITUDE}}" step="any">
                            <input type='submit' value='Update' />
                        </form>
                    </td>
                    {{#if this.PIC}}
                        <td style="background-color: green;color:white">Yes</td>
                    {{else}}
                        <td style="background-color: red;color:white">No</td>
                    {{/if}}
                     {{#if this.FID}}
                        <td style="background-color: green;color:white">Yes</td>
                    {{else}}
                        <td style="background-color: red;color:white">No</td>
                    {{/if}}
                    <td>
                        <form ref='uploadForm' 
                            id='uploadForm' 
                            action='http://{{../control.host}}:5000/upload?tid={{this.TERMINAL_ID}}' 
                            method='post' 
                            encType="multipart/form-data">
                            <input type="file" name="sampleFile" />
                            <input type='submit' value='Upload!' />
                        </form>     
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>