<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="bootstrap.min.js"></script>
    <title>ATM Mangement</title>
    <script>
    </script>
    <style>
        .add-cont {
            margin: 1em 1em;
            width: 70%;
            border-radius: 10px;
        }
        .srch-cont {
            margin-top: 1em;
            width: 30%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header class="p-4">
        <H1>DASHEN ATM BOT MANAGMENT</H1>
    </header>
    <div style="display:flex">
        <div class="srch-cont p-4">
            <h4>SEARCH</h4>
            <form action="http://{{control.host}}:5000/search" method="post" encType="application/json">
                <div>
                    <label for="srch" style="display: block;">BY NAME</label>
                    <input type="text" name="query" id="srch">
                </div>
                <input type="submit" value="Search" style="margin-top: 1em;">
            </form>
        </div>
        <div class="add-cont p-4">
            <h4>ADD ATM</h4>
            <form action="http://{{control.host}}:5000/add" method="post" encType="application/json">
                <div style="display: flex; justify-content:space-between">
                    <div>
                        <label for="tid" style="display: block !important;">TERMINAL ID</label>
                        <input type="text" name="terminal" id="tid">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">LOCATION</label>
                        <input type="text" name="loc" id="loc">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">LATITIUDE</label>
                        <input type="text" name="lat" id="lat">
                    </div>
                    <div>
                        <label for="tid" style="display: block;">LONGITUDE</label>
                        <input type="text" name="long" id="lon">
                    </div>
                </div>
                <input type="submit" value="Add" style="margin-top: 1em;">
            </form>
        </div>
    </div>
    <div style="position: absolute;right: 0;top: 0;padding: 1em;background-color: lightgreen;margin: 2em; visibility: {{control.success}}">
        Successful
    </div>
    <div>
        <table class="table table-hover table-bordered" style="padding: 1em;font-size:12px">
            <thead class="table-dark">
                <tr>
                <td></td>
                <td>Terminal ID</td>
                <td>Location</td>
                <td>Latitude and Longitude</td>
                <td>HAS PIC</td>
                <td>HAS FID</td>
                <td></td>
                </tr>
            </thead>
                <tbody class="table-group-divider">
                {{#each data}}
                <tr>
                    <td>
                        <form action="http://{{../control.host}}:5000/remove?tid={{this.TERMINAL_ID}}" method='post' encType="application/json">
                            <input type='submit' value='Remove' />
                        </form>
                    </td>
                    <td>{{this.TERMINAL_ID}}</td>                    
                    <td>{{this.LOCATION}}</td>
                    <td>
                        <form action="http://{{../control.host}}:5000/update?tid={{this.TERMINAL_ID}}" method='post' encType="application/json">
                            <input type="number" name="lat" id="lat" value="{{this.LATITIUDE}}" step="any">
                            <input type="number" name="lon" id="lon" value="{{this.LONGITUDE}}" step="any">
                            <input type='submit' value='Update' />
                        </form>
                    </td>
                    {{#if this.PIC}}
                        <td style="background-color: green;color:white">Yes</td>
                    {{else}}
                        <td style="background-color: red;color:white">No</td>
                    {{/if}}
                     {{#if this.FID}}
                        <td style="background-color: green;color:white">Yes</td>
                    {{else}}
                        <td style="background-color: red;color:white">No</td>
                    {{/if}}
                    <td>
                        <form ref='uploadForm' 
                            id='uploadForm' 
                            action='http://{{../control.host}}:5000/upload?tid={{this.TERMINAL_ID}}' 
                            method='post' 
                            encType="multipart/form-data">
                            <input type="file" name="sampleFile" />
                            <input type='submit' value='Upload!' />
                        </form>     
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>